/*
 * Base
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #495760;
  text-align: center;
}
p {
  font-family: 'Lato', sans-serif;
}

a,
a:focus,
a:hover {
  color: #107fc9;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 270ms;
  -moz-transition: all 270ms;
  -ms-transition: all 270ms;
  -o-transition: all 270ms;
  transition: all 270ms;
}

a {
    text-decoration: none;
    position: relative;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 52px;
  font-weight: 700;
  letter-spacing: -2px;
  text-transform: uppercase;
  color: #107fc9;
}

.subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #777f84;
}

.title-sm {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 40px;
  margin-top: 10px;
}

.intro {
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #495760;
}

.link {
  border-bottom: 1px solid #107fc9;
  padding-bottom: 5px;
}

.divider {
  width: 274px;
  height: 10px;
  background-color: #ECECEC;
  margin: 40px auto 30px;
}

.inner {
  padding: 30px;
}

::selection {
  background: #107fc9;
  color: #fff;
}

::-moz-selection {
  background: #107fc9;
  color: #fff;
}


/*
 * Loading
 */

.pace .pace-progress {
  background: #ffffff;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 3px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}


/*
 * Buttons
 */

.btn-blue,
.btn-blue:hover,
.btn-blue:active,
.btn-blue:focus {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 25px 60px;
  color: #fff;
  background: #107fc9;
  border-bottom: 3px solid #107fc9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  position: relative;
  width: 546px;
  -webkit-transition: all 270ms;
  -moz-transition: all 270ms;
  -ms-transition: all 270ms;
  -o-transition: all 270ms;
  transition: all 270ms;
}
.btn-blue:hover {
  border-bottom: 4px solid #fff;
  color: #0F67A2;
}

.btn-c2a {
  margin: 10px 5px 0;
}

/*
 * Cover
 */

.cover-wrapper {
  display: table;
  width: 100%;
  background: #107fc9;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}
.cover-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin: 50px auto 0;
}
.cover {
  padding: 0 20px;
}
.cover-logo {
  display: inline-block;
  margin: 15px 30px;
  padding: 0 30px;
}
.cover-logo-icon {
  margin-bottom: 10px;
  width: 240px;
  height: 51px;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -ms-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.cover-heading {
  font-family: 'Lato', sans-serif;
  font-size: 38px;
  font-weight: 300;
  color: #fff;
  margin: 20px 0 40px;
  line-height: 56px;
  letter-spacing: 1px;
}

.email {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-left: 20px;
  margin-top: 0;
  color: #fff !important;
  height: 72px;
  background: #107fc9;
  background: rgba(0, 0, 0, 0.15);
  border: 2px solid #fff;
  border-right: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.email:hover {
  background: #107fc9;
  background: rgba(0, 0, 0, 0.30);
}
.email:active, .email:focus {
  background: #107fc9;
  background: rgba(0, 0, 0, 0.50);
}
.email:focus {
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.email::-webkit-input-placeholder {
   color: #fff;
}
.email:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}
.email::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}
.email:-ms-input-placeholder {  
   color: #fff;  
}
.promise {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #f9f9f9;
  display: block;
  margin: 15px 0 40px;
}

.input-group {
  width: 80%;
  margin: 0 auto;
}

.btn-signup {
  background: #fff;
  color: #107fc9;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 23px 10px;
  width: 100%;
  border: 2px solid #fff;
  margin-left: 0 !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-signup:hover {
  color: #3498DB;
}


/*
 * Features
 */

.features {
  padding: 100px 0;
  text-align: left;
}

.features .divider {
  margin: 30px 0 20px;
  height: 7px;
}

.grey {
  background: #f9f9f9;
}

.features-icons {
  background-size: 378px 235px;
  background-repeat: no-repeat;
  width: 378px;
  height: 235px;
  margin: 0 auto;
  border-radius: 4px;
}
.features-icon-1 {
  background-image: url('../img/features-1.jpg');
}
.features-icon-2 {
  background-image: url('../img/features-2.jpg');
}
.features-icon-3{
  background-image: url('../img/features-3.jpg');
}


/*
 * Call to Action
 */

.c2a-section {
  padding: 115px 15px 100px;
  background: #107fc9;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.c2a-section .divider {
  background-color: #76b2d9;
}

.c2a-section .title, .c2a-section .subtitle {
  color: #fff;
  padding: 0 40px;
}

.c2a-section .input-group {
  margin-top: 25px;
}


/*
 * Footer
*/

.footer {
  padding: 80px 0;
}

.footer-links {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #cccccc;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 20px 35px;
}

.footer-logo {
  width: 147px;
  height: 55px;
}


/*
 * Responsive video embed
*/

.video {
  padding: 0;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.browser {
  width: 100%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-top: -2px;
}

.embed-container iframe,.embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/*
 * Retina
*/

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  .features-icons {
    background-size: 378px 235px;
    background-repeat: no-repeat;
  }
  .features-icon-1 {
    background-image: url('../img/features-1@2x.jpg');
  }
  .features-icon-2 {
    background-image: url('../img/features-2@2x.jpg');
  }
  .features-icon-3{
    background-image: url('../img/features-3@2x.jpg');
  }
}



/*
 * Responsiveness
*/

@media only screen and (max-width: 991px) {
  .features {
    text-align: center;
    padding: 120px 0;
  }
  .features .divider {
    margin: 30px auto 20px;
  }
  .features-icons {
    margin-bottom: 50px;
  }
  .cover-heading {
    font-size: 34px;
    line-height: 42px;
  }
}

@media only screen and (max-width: 480px) {
  .email {
    font-size: 12px;
    height: 61px;
  }
  .btn-signup {
    padding: 20px 10px;
    font-size: 12px;
  }
 .input-group {
    width: 100%;
  }
  .cover-heading {
    font-size: 28px;
    line-height: 36px;
  }
}